[Unit]
Description=DICOM Gateway Target
Documentation=https://github.com/raxjinn/StudyFlowGateway
Requires=dicom-gw-api.service
Wants=dicom-gw-queue-worker.service dicom-gw-forwarder-worker.service dicom-gw-dbpool-worker.service dicom-gw-scp.service dicom-gw-autoscaler.service
After=dicom-gw-api.service dicom-gw-queue-worker.service dicom-gw-forwarder-worker.service dicom-gw-dbpool-worker.service dicom-gw-scp.service dicom-gw-autoscaler.service

[Install]
WantedBy=multi-user.target

